In [1]:
%load_ext sql

## Load params from `dwh.cfg`

In [2]:
import configparser
config = configparser.ConfigParser()
config.read_file(open('dwh.cfg'))

DWH_ENDPOINT= config.get("CLUSTER","HOST")
DWH_DB_USER= config.get("CLUSTER","DB_USER")
DWH_DB_PASSWORD= config.get("CLUSTER","DB_PASSWORD")
DWH_DB_PORT= config.get("CLUSTER","DB_PORT")
DWH_DB_NAME= config.get("CLUSTER","DB_NAME")

DWH_ROLE_ARN=config.get("IAM_ROLE", "ARN")

LOG_DATA = config.get("S3", "LOG_DATA")
LOG_JSONPATH = config.get("S3", "LOG_JSONPATH")
SONG_DATA = config.get("S3", "SONG_DATA")

KEY =config.get('AWS','KEY')
SECRET = config.get('AWS','SECRET')
REGION = config.get('AWS', 'REGION')

## Checking datasets

In [3]:
import boto3

s3 = boto3.resource('s3', region_name=REGION, aws_access_key_id=KEY, aws_secret_access_key=SECRET)
sampleDbBucket =  s3.Bucket("udacity-dend")

for objLogData in sampleDbBucket.objects.filter(Prefix="log_data"):
    print(objLogData)
    
# for objSongData in sampleDbBucket.objects.filter(Prefix="song_data"):
#     print(objSongData)

s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-01-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-02-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-03-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-04-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-05-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-06-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-07-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-08-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-09-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-10-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-11-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-12-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-13-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-14-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-15-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-16-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-17-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-18-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-19-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-20-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-21-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-22-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-23-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-24-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-25-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-26-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-27-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-28-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-29-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-30-events.json')

## Connect to data warehouse

In [4]:
conn_string="postgresql://{}:{}@{}:{}/{}".format(DWH_DB_USER, DWH_DB_PASSWORD, DWH_ENDPOINT, DWH_DB_PORT, DWH_DB_NAME)
%sql $conn_string

'Connected: dwhuser@dwh'

## Run `create_tables.py` to create tables in data warehouse

In [5]:
!python3 create_tables.py

In [6]:
%sql SELECT DISTINCT tablename FROM pg_table_def WHERE schemaname = 'public';

 * postgresql://dwhuser:***@dwhcluster.cythpiqr5wuq.us-west-2.redshift.amazonaws.com:5439/dwh
7 rows affected.

[('artists',),
 ('songplays',),
 ('songs',),
 ('staging_events',),
 ('staging_songs',),
 ('time',),
 ('users',)]

## Run `etl.py` to ingest data into data warehouse

In [7]:
!python3 etl.py

## Checking data in ingested tables

In [8]:
%sql SELECT * FROM staging_events LIMIT 5

 * postgresql://dwhuser:***@dwhcluster.cythpiqr5wuq.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('Miami Horror', 'Logged In', 'Kate', 'F', 88, 'Harrell', 250.8273, 'paid', 'Lansing-East Lansing, MI', 'PUT', 'NextSong', '1540472624796', 293, 'Sometimes', 200, 1541548876796, '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.94 Safari/537.36"', 97),
 ('The White Stripes', 'Logged In', 'Kate', 'F', 89, 'Harrell', 241.8673, 'paid', 'Lansing-East Lansing, MI', 'PUT', 'NextSong', '1540472624796', 293, 'My Doorbell (Album Version)', 200, 1541549126796, '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.94 Safari/537.36"', 97),
 ('Juan Carmona', 'Logged In', 'Kate', 'F', 90, 'Harrell', 331.44118, 'paid', 'Lansing-East Lansing, MI', 'PUT', 'NextSong', '1540472624796', 293, 'Panales de Algodon', 200, 1541549367796, '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.94 Safari/537.36"', 97),
 ('Alison Krauss / Union Station', 'Logged In', 'Kate', 'F', 91, 'Harrell', 171.04934, 'paid', 'Lansing-East Lansing, MI', 'PUT', 'NextSong', '1540472624796', 293, 'Restless', 200, 1541549698796, '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.94 Safari/537.36"', 97),
 ('Bullet For My Valentine', 'Logged In', 'Kate', 'F', 92, 'Harrell', 235.65016, 'paid', 'Lansing-East Lansing, MI', 'PUT', 'NextSong', '1540472624796', 293, 'Begging For Mercy', 200, 1541549869796, '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.94 Safari/537.36"', 97)]

In [9]:
%sql SELECT * FROM staging_songs LIMIT 5

 * postgresql://dwhuser:***@dwhcluster.cythpiqr5wuq.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('AR9Q9YC1187FB5609B', None, 'New Jersey', None, 'Quest_ Pup_ Kevo', 252.94322, 1, 'SOFRDWL12A58A7CEF7', 'Hit Da Scene', 0),
 ('ARAJPHH1187FB5566A', 40.7038, 'Queens, NY', -73.83168, 'The Shangri-Las', 164.80608, 1, 'SOYTPEP12AB0180E7B', 'Twist and Shout', 1964),
 ('AR08LXJ1187B9995A4', None, '', None, 'Tungtvann', 56.63302, 1, 'SOESDHP12A8C1375AD', 'Bokstavelig Talt (Skit)', 2002),
 ('AR7H9U01187FB390F5', None, 'New Orleans, LA', None, 'Terence Blanchard', 350.95465, 1, 'SOBJLBQ12A8C13F883', 'Funeral Dirge', 2007),
 ('ARVW3Q51187FB4CC6F', 41.88415, 'Chicago, IL', -87.63241, 'Screeching Weasel', 90.80118, 1, 'SOKEALI12A8C13F6A2', 'Nothing Matters', 2000)]

In [10]:
%sql SELECT * FROM songplays LIMIT 5

 * postgresql://dwhuser:***@dwhcluster.cythpiqr5wuq.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(37, datetime.datetime(2018, 11, 5, 17, 31, 11), 73, 'paid', 'SOLZOBD12AB0185720', 'ARPDVPJ1187B9ADBE9', 255, 'Tampa-St. Petersburg-Clearwater, FL', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"'),
 (101, datetime.datetime(2018, 11, 28, 13, 45), 97, 'paid', 'SOUNZHU12A8AE47481', 'AR37SX11187FB3E164', 944, 'Lansing-East Lansing, MI', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.94 Safari/537.36"'),
 (165, datetime.datetime(2018, 11, 26, 8, 30, 57), 44, 'paid', 'SORAHAG12AB0182BD0', 'AR8UZXF1187B9AB868', 781, 'Waterloo-Cedar Falls, IA', 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (229, datetime.datetime(2018, 11, 15, 17, 6, 32), 30, 'paid', 'SOTPQFM12AB017AC9E', 'ARANOZN1187B9B373E', 324, 'San Jose-Sunnyvale-Santa Clara, CA', 'Mozilla/5.0 (Windows NT 6.1; WOW64; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (293, datetime.datetime(2018, 11, 7, 5, 32, 6), 50, 'free', 'SOXQUPO12A6D4FC2B6', 'AR79C1C1187FB4C482', 313, 'New Haven-Milford, CT', '"Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"')]

In [11]:
%sql SELECT * FROM songs LIMIT 5

 * postgresql://dwhuser:***@dwhcluster.cythpiqr5wuq.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('SOOGSDS12A6D4FAAF5', 'Heads', 'AR7FZ7W1187B9A5D13', 1977, 401.71057),
 ('SOUEZLK12A6D4FBA57', 'Tied Up In Chain', 'ARGERPR1187FB4F1BC', 1990, 195.7873),
 ('SOCFARI12A8C13E18E', 'Why (Dinky Remix)', 'ARWOYNK1187FB3962B', 0, 464.8224),
 ('SOKCHNE12AB018AED5', 'Då Skulle Det Inte Vara Jag', 'AR43CY21187B9A6C07', 2007, 178.36363),
 ('SOAPONY12A670206CB', 'Message To The Cool', 'AR3ZL6A1187B995B37', 2005, 216.86812)]

In [12]:
%sql SELECT * FROM artists LIMIT 5

 * postgresql://dwhuser:***@dwhcluster.cythpiqr5wuq.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('ARS7KMY1187FB479F6', 'Bettye Lavette', 'Muskegon, MI', 43.23426, -86.15935),
 ('ARTQBG41187B99D524', 'Exillon', '', None, None),
 ('ARPIKA31187FB4C233', 'The Action', 'New York', 40.71455, -74.00712),
 ('ARPTKAK1187FB5308A', 'Plus One', '', None, None),
 ('ARHQCP81187B99F73C', 'Hot Chocolate', 'Brixton, London, England', None, None)]

In [13]:
%sql SELECT * FROM time LIMIT 5

 * postgresql://dwhuser:***@dwhcluster.cythpiqr5wuq.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(datetime.datetime(2018, 11, 15, 17, 6, 32), 17, 15, 46, 11, 2018, '4'),
 (datetime.datetime(2018, 11, 4, 7, 31, 31), 7, 4, 44, 11, 2018, '0'),
 (datetime.datetime(2018, 11, 29, 20, 21, 41), 20, 29, 48, 11, 2018, '4'),
 (datetime.datetime(2018, 11, 29, 0, 40, 14), 0, 29, 48, 11, 2018, '4'),
 (datetime.datetime(2018, 11, 30, 10, 42, 9), 10, 30, 48, 11, 2018, '5')]